<!DOCTYPE html>
<html>
<head>
	<title>Edgar Martin del Campo</title>
	<meta charset="utf-8" name="Description" content="The official page for Edgar Martin del Campo, PhD: web programmer, creative writer, and recovering academic.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/angular.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/modal.css" />
</head>
<script src="./assets/js/angular.min.js"></script>
<script src="./assets/js/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.2/angular-sanitize.min.js"></script>
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/app.js"></script>
<body ng-app="portfolio" ng-controller="ctrl" class="wallPapers">
	<div class="modal" ng-show="isOpen">
		<div class="modalContainer">
			<span class="closeCursor" ng-click="toggleModal(false)">CLOSE &times;</span>
			<div class="imgGallery" ng-repeat="images in gallery">
				<div class="lightBoxComp" ng-show="images.selected">
					<span ng-click="galleryScroll(images.index, 'prev')" ng-show="showLArrow" class="navArrows">&lt;&lt;</span>
					<img class="lightBox" ng-src="assets/images/{{images.path}}" />
					<span ng-click="galleryScroll(images.index, 'next')" ng-show="showRArrow" class="navArrows">&gt;&gt;</span>
				</div>
			</div>
		</div>
	</div>
	<div id="navbar">
		<h2>
			<div class="panelItems">
				<div class="index menuTab" ng-click="artRoute(0)"> Home </div>
				<div class="app menuTab" ng-click="listSelect('app')"> Web Apps </div>
				<div class="anec menuTab" ng-click="menuSelect('anec')"> Anecdotes </div>
				<div class="story menuTab" ng-click="menuSelect('story')"> Stories </div>
				<div class="essay menuTab" ng-click="menuSelect('essay')"> Essays </div>
				<div class="link menuTab" ng-click="listSelect('link')"> Links </div>
				<div class="about menuTab" ng-click="artRoute(16)"> About </div>
			</div>
		</h2>
	</div>
	<video ng-show="videoBkgd" ng-src="assets/images/wallpapers/{{videoSrc}}" type="video/mp4" autoplay muted loop id="vidBckg">
		Your browser does not support HTML5 video.
	</video>
	<div id="container">
		<article ng-animate="{enter: 'ng-enter'}">
			<div ng-repeat="element in list">
				<div class="menuElement" id="listItem{{element.id}}">
					<div class="tnContainer">
						<a href="{{element.link}}" target="_blank"><img class="linkTn" ng-src="assets/images/{{element.image}}" /></a>
					</div>
					<div class="itemContainer">
						<span class="linkTitle"><a href="{{element.link}}" target="_blank" ng-bind-html="element.title"></a></span>
						<br/>
						<br/>
						<span class="linkSub" ng-bind-html="element.description"></span>
					</div>
					<br/>
				</div>
			</div>
			<div ng-repeat="item in results">
				<div id="menuItem{{item.id}}">
					<span class="linkTitle" ng-click="artRoute(item.id)" ng-bind-html="item.title"></span>
					<br/>
					<br/>
					<span class="linkSub" ng-bind-html="item.subTitle"></span>
					<br/>
					<br/>
					<br/>
				</div>
			</div>
			<div ng-repeat="content in contents"><!-- ng-repeat required for proper entry animation !-->
				<div><h2 ng-bind-html="content.title"></h2></div>
				<div><h3 ng-show="content.otherPage">Page {{content.pageNo}} of 2</h3></div>
				<div ng-bind-html="content.article"></div>
				<div><h3 ng-click="artRoute(content.id, content.otherPage)" ng-show="content.pageLink">{{content.pageLink}}</h3></div>
				<div id="tnRow" >
					<div ng-repeat="image in content.artImages">
						<img ng-click="toggleModal(true, image)" ng-src="assets/images/{{image}}" class="articleTn" max-width="100" max-height="100" />
					</div>
				</div>
			</div>
		</article>
	</div>
	<div id="navBottom">
		<div class="panelItems">
			<div class="gitHub iconTab"><a href="https://github.com/EdgarAhDzib/" target="_blank"><img class="icon" src="assets/images/icons/github64.png" /></a></div>
			<div class="linkedIn iconTab"><a href="https://www.linkedin.com/in/edgar-martin-del-campo-7ba775125/" target="_blank"><img class="icon" src="assets/images/icons/linkedin64.png" /></a></div>
			<div class="faceBook iconTab"><a href="https://www.facebook.com/ShamansCross/" target="_blank"><img class="icon" src="assets/images/icons/fb-likebutton-online-72.png" /></a></div>
			<div class="youTube iconTab"><a href="https://www.youtube.com/channel/UCju74A_kAhFnnyPjq3JXRBQ" target="_blank"><img class="icon" src="assets/images/icons/YouTube-logo-full_color.png" /></a></div>
			<div class="twitter iconTab"><a href="https://twitter.com/EdgarTlamatini" target="_blank"><img class="icon" src="assets/images/icons/Twitter_logo_blue.png" /></a></div>
			<div class="email iconTab"> Email <br/>(Under construction)</div>
		</div>
	</div>
</body>
</html>